{
  // "ignorePatterns": ["**/*"],
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": ["airbnb", "airbnb/hooks", "airbnb-typescript", "next/core-web-vitals", "prettier"],
  "parserOptions": { "project": "./tsconfig.json" },
  "plugins": ["react"],
  "rules": {
    "no-nested-ternary": "off",
    "react/no-array-index-key": "off",
    "react/require-default-props": "off",
    "import/prefer-default-export": "off",
    "no-use-before-define": "off",
    "no-alert": "warn",
    "no-restricted-syntax": "warn",
    "no-await-in-loop": "warn",
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["**/*.test.tsx", "**/*.spec.tsx", "**/*.test.ts", "**/*.spec.ts", "**/*.config.ts"] }
    ],
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "controlComponents": ["Checkbox.Root", "ReactTextareaAutosize", "Field", "Switch.Root", "Select.Root"],
        "assert": "both"
      }
    ],
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "max-len": "off"
  }
}
