{
  "bracketSpacing": true,
  "semi": true,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": ["*.jsonc", ".eslintrc", "tsconfig*.json"],
      "options": { "trailingComma": "none" }
    }
  ]
}
