/**
 * eslint-disable
 */

const folderStructure = `
app/
  layout.js
  page.js
  components/
  lib/
`;

const additionalInstructions = `
- This is a NextJS project that uses TypeScript, TailwindCSS, and Shadcn components.
- This serves an API as well as a frontend.
- My prisma import is: import { prisma } from '@/lib/db';
- Shadcn components like Button are under @/components/shadcn
- API is under /app/api
- API requests should generally be POST endpoints. Avoid GET when possible.
- Environment variables like IS_LOCALHOST should be imported from @/lib/env
- My useRouter for client side components should be: import { useRouter } from 'next-nprogress-bar';
- Providers are under @/components/provider, with the top level provider file being providers.tsx
- Do not significantly alter the providers.tsx file - only adding a nested provider file when necessary
- Database schema is at /prisma/schema.prisma
`;
