/* TODO: Clean Up / Organize */

@layer tailwind-base, primereact, tailwind-utilities;

@import 'primereact/resources/themes/lara-light-indigo/theme.css' layer(primereact);

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

.nsewdrag {
  cursor: default !important;
}

.annotation-text-g {
  z-index: 10;
}

.annotation-arrow-g {
  z-index: 0;
}

/* hide number stepper */
@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

.main-svg {
  overflow: visible !important;
}

.forceShowScrollBar::-webkit-scrollbar {
  display: block !important;
  width: 8px;
  height: 0px;
}

.forceShowScrollBar::-webkit-scrollbar-track:vertical {
  background-color: rgba(57, 57, 57, 0);
  border-radius: 8px;
}

.forceShowScrollBar::-webkit-scrollbar-thumb:vertical {
  border-radius: 8px;
  background-color: rgba(203, 213, 225, 0.6);
}

.forceShowScrollBarHorizontal::-webkit-scrollbar {
  display: block !important;
  width: 8px;
  height: 8px;
}

.forceShowScrollBarHorizontal::-webkit-scrollbar-track:horizontal {
  background-color: rgba(57, 57, 57, 0);
  border-radius: 8px;
}

.forceShowScrollBarHorizontal::-webkit-scrollbar-thumb:horizontal {
  border-radius: 8px;
  background-color: rgba(203, 213, 225, 1);
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.3em;
  vertical-align: super;
}
sub {
  bottom: -0.25em;
  vertical-align: sub;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#plotNoPointerEvents * {
  pointer-events: none !important;
}

div.plotly-notifier {
  visibility: hidden;
}

/* hide scrollbars */
.overflow-scroll {
  -ms-overflow-style: none !important;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}

/*hex*/
.hex {
  -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.removed {
  display: inline;
  height: 16px;
  background-color: #ffccc7;
  padding: 0 2px;
}

.added {
  display: inline;
  height: 16px;
  background-color: #d9f7be;
  padding: 0 2px;
}

/* datatable */
.p-sortable-column {
  font-size: 12px;
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
}

.p-multiselect-panel {
  border-radius: 4px;
}
.p-multiselect {
  border-radius: 4px;
  padding-left: 8px;
}

.p-multiselect-label {
  color: #475569;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  user-select: none;
}

.p-multiselect .p-multiselect-trigger {
  width: 1.8rem;
}

.p-multiselect-select-all {
  width: 18px;
  height: 26px;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  background-color: #bae6fd;
}

.p-checkbox-box,
.p-checkbox,
.p-checkbox-input {
  height: 16px;
  width: 18px !important;
  border-radius: 3px;
  border-width: 1px;
}

.p-multiselect-item {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
}
.p-multiselect-checkbox {
  display: flex;
  flex-direction: row;
  height: 18px;
  align-items: center;
}

.p-datatable-scrollable-table > .p-datatable-thead {
  border-bottom: 2px solid #e2e8f0;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight.p-focus {
  background-color: #bae6fd;
}

.p-datatable-emptymessage > td {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  color: #475569;
}

.p-datatable .p-datatable-tbody > tr > td {
  border-color: #f1f5f9 !important;
}

.p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
  padding-top: 8px;
  background-color: #f1f5f9;
  padding-bottom: 8px;
}
.p-checkbox {
  vertical-align: middle;
}

.p-datatable .p-datatable-tbody > tr {
  height: 36px !important;
  background-color: transparent !important;
}

.p-datatable .p-sortable-column .p-sortable-column-icon {
  display: none;
}

.p-sortable-column-badge {
  display: none !important;
}

.p-multiselect-panel .p-multiselect-header {
  display: none;
}

.p-fluid .p-column-filter-element {
  border-color: #e2e8f0;
}

.p-multiselect {
  border-color: #cbd5e1;
}

.p-column-title {
  width: 100%;
}

.p-multiselect .p-multiselect-trigger {
  width: 0.7rem;
  margin-right: 8px;
  color: #aaaaaa;
}

.p-column-filter .p-inputtext {
  border-radius: 4px;
  color: #475569;
  font-size: 12px;
  padding-top: 2px;
  padding-left: 8px;
  padding-bottom: 2px;
  user-select: none;
  min-width: 170px;
}
.p-column-filter-menu-button {
  width: 22px;
  height: 22px;
}
.p-sortable-column {
  padding-left: 3px;
  padding-right: 3px;
}

.p-sortable-column:hover {
  background-color: #f8fafc;
}

.p-datatable .p-datatable-thead > tr > th {
  padding-left: 3px;
  padding-right: 3px;
}

.p-datatable .p-sortable-column .p-sortable-column-icon {
  margin-left: 4px;
  height: 12px;
  width: 12px;
}

.p-datatable-wrapper::-webkit-scrollbar {
  display: block !important;
  width: 0px;
  height: 8px;
}

.p-datatable-wrapper::-webkit-scrollbar-track:horizontal {
  background-color: rgba(57, 57, 57, 0);
  border-radius: 8px;
}

.p-datatable-wrapper::-webkit-scrollbar-thumb:horizontal {
  border-radius: 8px;
  background-color: rgba(156, 156, 156, 0.6);
}

div[data-virtuoso-scroller='true'] table {
  width: 100%;
}

#saebench-markdown h1 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  color: #1e293b;
}

#saebench-markdown h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
  color: #1e293b;
}

#saebench-markdown h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #1e293b;
}

#saebench-markdown h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
  color: #1e293b;
}

#saebench-markdown p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

#saebench-markdown ul {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 1.5rem;
}

#saebench-markdown ol {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 1.5rem;
}

#saebench-markdown tr li {
  font-size: 0.8rem;
}

#saebench-markdown th {
  font-weight: 600;
  font-size: 0.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#saebench-markdown td {
  font-size: 0.8rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#saebench-markdown li {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

#saebench-markdown a:not(.ignore-saebench) {
  color: #0284c7;
  text-decoration: underline;
}

#sparse-probing::before {
  content: '';
  display: block;
  height: 75px;
  margin-top: -75px;
  visibility: hidden;
}

#saebench-markdown a:not(.ignore-saebench):hover {
  color: #0ea5e9;
  text-decoration: underline;
}

.iframe-container {
  position: relative;
}

.scroll-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

#saebench-markdown iframe {
  background-color: #f1f5f9;
  overflow: hidden;
  overscroll-behavior: none;
}

#saebench-markdown details {
  margin-top: 0rem;
  margin-bottom: 0.2rem;
  padding-left: 1.5rem;
}

#saebench-markdown summary:hover {
  color: #0ea5e9;
  text-decoration: underline;
}

#saebench-markdown details summary {
  color: #0284c7;
  cursor: pointer;
  font-weight: 600;
}

#saebench-markdown tr td:first-child {
  font-weight: 500;
  min-width: 200px;
  text-align: center;
}

#saebench-markdown code {
  font-size: 0.8rem;
  background-color: #f1f5f9;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}

/* BLOG */

.prose {
  max-width: none;

  & #table-of-contents {
    margin-top: 3rem;
    margin-bottom: 0.75rem;
  }

  & [id]::before {
    content: '';
    display: block;
    height: 100px;
    margin-top: -100px;
    visibility: hidden;
  }

  & ul {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  & li {
    font-size: 0.9rem;
    margin-top: 0.1rem;
    margin-bottom: 0.3rem;
    line-height: 1.5;
  }

  & h1 {
    margin-top: 2rem;
    font-size: 1.3rem;
    line-height: 1.5;
  }

  & h2 {
    font-size: 1.2rem;
  }

  & h3 {
    font-size: 1.1rem;
  }

  & h4 {
    font-size: 1rem;
  }

  & p {
    font-size: 0.9rem;
    line-height: 1.5;
  }

  & img {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  & figure {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
  }

  & figcaption {
    margin-top: 0.3rem;
  }

  & figcaption p {
    margin-top: 0rem;
    font-size: 0.75rem;
  }

  :where(blockquote p:first-of-type):not(:where([class~='not-prose'], [class~='not-prose'] *))::before {
    content: no-open-quote;
  }

  :where(blockquote p:last-of-type):not(:where([class~='not-prose'], [class~='not-prose'] *))::after {
    content: no-close-quote;
  }

  :where(code):not(:where([class~='not-prose'], [class~='not-prose'] *))::before {
    content: none;
  }

  :where(code):not(:where([class~='not-prose'], [class~='not-prose'] *))::after {
    content: none;
  }

  :where(code):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
    background-color: #f1f5f9;
    padding: 0.1rem 0.35rem;
    border-radius: 4px;
  }
}

/* CLT */

.link-graph,
.feature-scatter,
.feature-umap,
.feature-diff-scatter,
.link-diff-scatter {
  canvas {
    pointer-events: none;
  }
  overflow: visible;
  .node {
    cursor: pointer;
  }

  .node.clicked {
    stroke-width: 1.5px;
    stroke: #f0f;
  }

  .node.pinned {
    stroke: #000;
    stroke-width: 1.8px;
  }

  .node.hidden {
    opacity: 0.5;
    r: 0.5;
  }

  .node.pinned.clicked {
    stroke-width: 2.3px;
    stroke: #f0f;
    /* stroke: url(#pinned-clicked-gradient); */
  }
}

.link-graph svg {
  overflow: visible;
}

.link-graph .node.hidden {
  opacity: 1 !important;
  font-size: 3.5px;
}

.link-graph .tooltip {
  top: -1000px;
  position: fixed;
  padding: 5px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid lightgray;
  pointer-events: none;
  z-index: 10000;
  font-size: 10px;
  line-height: 1.3em;
}

.link-graph .tooltip-hidden {
  opacity: 0;
  /* transition: all 0.3s;
  transition-delay: 0.1s; */
}

/* SVG and canvas stacking rules */
.svg-top {
  position: relative;
  z-index: 10; /* Higher z-index to ensure it's on top */
  pointer-events: all;
}

.svg-bot {
  position: relative;
  z-index: 5; /* Medium z-index for middle layer */
  pointer-events: all;
}

foreignObject canvas {
  z-index: 1; /* Lower z-index for canvas elements */
}

.node-connections {
  .header-top-row {
    user-select: none;
  }
  .feature-icon {
    color: #fff;
    -webkit-text-stroke: 1.5px #f0f;
    text-align: center;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: -2px;
    font-size: 10px;
  }
  .feature-title {
    font-weight: 500 !important;
    font-size: 13px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .pinned .feature-icon {
    -webkit-text-stroke: 2.5px #f0f;
  }

  .connections {
    flex: 1 0 auto;
    display: flex;
    overflow-y: hidden;
    overflow-x: visible;
    gap: 200px;

    .features {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      min-width: 20px;
      width: 100%;
    }

    .effects {
      font-size: 11px;
      flex: 1 0 0;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      overflow-x: visible !important;
      /* border-bottom: solid 1px #eee; */
      padding-top: 8px;
    }

    .h4 {
      padding-bottom: 5px;
      border-bottom: solid 1px #eee;
    }

    .h4 label {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    input {
      margin: 0;
    }
  }
  .sum-table table {
    width: 100%;
    border-collapse: collapse;
    font-weight: 300;
    color: rgb(85, 85, 85);
    line-height: 1em;
    margin-top: 4px;
    border-width: 0px !important;
    margin-bottom: 0px;
    line-height: 1em;

    th,
    td {
      text-align: center;
      font-size: 11px !important;
      border-bottom-color: #fff !important;
      line-height: 1em;
    }

    th:not(:first-child),
    td:not(:first-child) {
      padding-left: 0px !important;
      padding: 0px 10px !important;
    }

    th {
      font-weight: 400;
    }

    tr {
      border-color: #fff !important;
    }

    tr.data td {
      font-variant-numeric: tabular-nums;
    }
  }
}

.subgraph {
  overflow: hidden;

  marker {
    orient: auto;
  }

  .weight-label {
    font-size: 9px;
    font-family: system-ui;
    text-anchor: middle;
    opacity: 0.8;
    fill: #999;
  }

  .layer-label {
    color: #999;
    opacity: 0.8;
    margin-right: 2px;
  }

  .supernode-container {
    position: absolute;
    font-size: 9px;
    line-height: 1em;
    cursor: pointer;
    pointer-events: none;
    height: 1px;
    width: 1px;

    .node-text-container {
      text-align: center;
      position: relative;
      top: 19px;
      pointer-events: all;
      color: #1e293b;
      padding-top: 2.5px;
      padding-bottom: 2.5px;
      text-shadow:
        0 1.5px 0 #fff,
        1.5px 0 0 #fff,
        0 -1.5px 0 #fff,
        -1.5px 0 0 #fff,
        1.5px 1.5px 0 #fff;
    }

    .node-text-container span {
      font-size: 10px;
      line-height: 1.2em;
    }

    .temp-edit {
      width: 100%;
      font: inherit;
      font-size: 10px;
      border: 1px solid #0ea5e9;
      border-radius: 2px;
      padding: 0;
      box-shadow: none;
      margin: 0;
      text-align: center;
      background: none;
      outline: none;
      display: inline;
    }

    .clicked-weight {
      position: absolute;
      right: 0px;
      padding: 1px 1px;
      font-size: 8px;
      overflow: visible;
    }
    .clicked-weight.source {
      bottom: -12px;
    }
    .clicked-weight.target {
      top: -12px;
    }

    .member-circles {
      pointer-events: all;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      border: 1px solid #cbd5e1;
      border-radius: 4px;
      padding: 4px;
      display: flex;
      background: #e2e8f0;
      outline: 1px solid #94a3b8;
    }

    .member-circle {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #fff;
      display: inline-block;
      border: 1px solid #000;
      outline: 0.5px solid #000;
      z-index: 100 !important;
    }

    .not-clt-feature.member-circle {
      border-radius: 1.5px;
    }

    .member-circle:first-child {
      margin-left: 0;
    }
  }

  .ungroup-btn {
    display: none;
  }

  &.is-grouping .ungroup-btn {
    display: block;
  }

  .hovered.node .member-circles,
  .hovered.member-circle {
    border-color: rgba(0, 0, 0, 0);
    outline: 1.5px dotted #f0f;
    z-index: 100;
  }

  .clicked.node .member-circles,
  .clicked.member-circle {
    border-color: rgba(0, 0, 0, 0);
    outline: 1.5px solid #f0f;
  }

  .grouping-selected .member-circles {
    outline: 2px solid #0ff;
  }

  .checkbox-container {
    user-select: none;
    position: absolute;
    bottom: 0px;
    color: #999;

    input {
      accent-color: #999;
    }

    label:not(:first-child) {
      margin-left: 10px;
      display: inline-block;
    }
  }

  .is-supernode {
    padding-bottom: 15px;
  }

  .ungroup-btn {
    position: absolute;
    left: 0px;
    bottom: 0px;
    cursor: pointer;
    color: #0284c7;
    z-index: 100;
    font-size: 12px;
    padding: 2px;
    border-radius: 2px;

    &:hover {
      opacity: 1;
      color: #0c4a6e;
      background: #7dd3fc;
    }
  }
}
